/* .btn-bottom {
    margin-bottom: 20px;
}

#add_btn {
    /* margin: 15px 0; */
    /* float: right; */
/* }  */

/* #search-div{
    float: right;
} */

/* #search-box{
    width:50%;
    display: inline;
}
#search-button {
    width: 15%;
    margin-bottom: 7px;
}

#filter {
    width: 24%;
    display: inline;
}

.dateinput {
    width: 45%;
    display: inline;
}

#datepickerblock, #searchblock {
    width: 48%;
    display: inline;
}
.row {
    display: flex;
    flex-wrap: wrap;
  } */