.btn-bottom {
    margin-bottom: 20px;
}

#add_btn {
    /* margin: 15px 0; */
    /* float: right; */
}

#search-div{
    float: right;
}

#search-box{
    width:70%;
    display: inline;
}
#search-button {
    width: 20%;
    margin-bottom: 7px;
}